* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: bold;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#calculator {
  width: 293px;
  border-style: solid;
  border-color: darkgreen;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: 60px repeat(5, 50px);
  grid-template-areas: 
  'result result result result'
  'clear clear divide multiply'
  '1to9 1to9 1to9 add'
  '1to9 1to9 1to9 subtract'
  '1to9 1to9 1to9 equals'
  'zero zero decimal equals';
  grid-gap: 10px;
  background-color: forestgreen;
  padding: 10px;
}

#calculator > button {
  text-align: center;
  font-weight: bold;
  border-style: solid;
  border-radius: 3px;
  border-color: white;
  border-width: 1px;
}

#result {
  grid-area: result;
}

div#result {
  text-align: right;
  padding-right: 5px;
  border-radius: 3px;
  background-color: antiquewhite;
  border-style: solid;
  border-color: tan;
  border-width: 1px;
}

#expression {
  font-size: 16px;
  font-weight: normal;
  padding-top: 5px;
  height: 30px;
}

#display {
  font-size: 20px;
  height: 24px;
}

/*
#expression, #display {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
*/
#one #two #three #four #five #six #seven #eight #nine {
  grid-area: 1to9;
}

#clear {
  grid-area: clear;
  background-color: red;
}

#divide {
  grid-area: divide;
  background-color: lightgray;
}

#multiply {
  grid-area: multiply;
  background-color: lightgray;
}

#add {
  grid-area: add;
  background-color: lightgray;
}

#subtract {
  grid-area: subtract;
  background-color: lightgray;
}

#zero {
  grid-area: zero;
}

#decimal {
  grid-area: decimal;
}

#equals {
  grid-area: equals;
  background-color: lightgreen;
}

#lui {
  font-size: 14px;
  font-weight: normal;
  color: black;
  padding-right: 3px;
  align-self: center;
}